useDynLib(cxxPack)

export(loadcppchunk,
       unloadcppchunk,
       demomenu,
       cgamma,
       HillPlot,
       seqStrict,
       serialNumber,
       runcxxPackTests)

importFrom(utils,capture.output)


