useDynLib(RcppTemplate)
S3method(print, RcppExample)
export(RcppExample,
       showRcppDoc,
       showRcppQuickRef,
       numR,
       numJulian,
       numExcelPC,
       numExcelMac,
       numWeekday)

